$stroke-width: 15px;

@keyframes tileSelected {
    0% {
        stroke: #79D38E;
        stroke-opacity: .9;
        stroke-width: 15px;
    }
    50% {
        stroke: #8b9;
        stroke-opacity: .5;
        stroke-width: 5px;
    }
    100% {
        stroke: #79D38E;
        stroke-opacity: .9;
        stroke-width: 15px;
    }
}


@keyframes tileRevealMode {
    0% {
        fill: $color-tile-unexplored;
    }
    50% {
        fill: $color-tile-unexplored-reveal;
    }
    100% {
        fill: $color-tile-unexplored;
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes dasharraySpin {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -210;
    }
}