$stroke-width: 15px;

@keyframes tileSelected {
    0% {
        stroke: #aeb;
        stroke-opacity: .7;
        stroke-width: 15px;
    }
    50% {
        stroke: #8b9;
        stroke-opacity: .5;
        stroke-width: 10px;
    }
    100% {
        stroke: #aeb;
        stroke-opacity: .7;
        stroke-width: 15px;
    }
}