@import "_variables.scss";
@import "_animations.scss";

#board {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    perspective: 1500px;
    perspective-origin: top;

    &-svg {
        position: relative;
        transform: rotateX(60deg);
    }
}

#board-main-menu-button {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
}

#board-new-tile-button {
    position: absolute;
    top: 75px;
    left: 25px;
    z-index: 1;
}

.tile {
    pointer-events: all;
    cursor: pointer;
    transition: all 0.1s ease-in;
    fill: transparent;
    stroke-width: 0;
    stroke-dasharray: 20;
    stroke-linecap: round;
    stroke-opacity: 0.5;

    &.start {
        stroke: #55a;
        stroke-dasharray: 0;
        stroke-width: 10px;
    }

    &.selected {
        stroke: #eee;
        stroke-dasharray: 20;
        stroke-width: 5px;
        animation: tileSelected 1s linear infinite;
    }

    &:hover {
        fill: rgba(255, 255, 255, 0.2);
    }

    &.adjacent {
        fill: #777;

        &:hover {
            fill: #666;
        }
    }

    &-image {
        pointer-events: none;
        transform: translateX(-50%);
    }
}