@import "_variables.scss";
@import "_animations.scss";

#board {
    text-align: center;
    height: 100%;

    &-center {
        position: relative;
        display: inline-block;
        top: 50%;
        width: 10px;
        height: 10px;
    }

    &-svg {
        position: relative;
    }
}

#board-main-menu-button,
#board-reset-zoom-button,
#board-reset-position-button,
#board-toggle-grid-button,
#board-start-game-button {
    position: absolute;
    left: 25px;
    z-index: 1;
    user-select: none;
}

#board-main-menu-button {
    top: 25px;
}

#board-reset-zoom-button {
    top: 65px;
}

#board-reset-position-button {
    top: 105px;
}

#board-toggle-grid-button {
    top: 145px;
}

#board-start-game-button {
    top: 185px;
}

#board-g {
    g {
        font-size: 10px;
    }
}

.tile {
    pointer-events: all;
    cursor: pointer;
    fill: transparent;
    stroke: transparent;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-opacity: 0.5;
    position: relative;
    z-index: 1;

    &-grid {
        stroke-width: 3px;
        stroke: #333;
        stroke-opacity: 1;

        &:not(.selected) {
            stroke-dasharray: 0 !important;
        }
    }

    &.start {
        &:not(.selected) {
            stroke-dasharray: 0 !important;
        }
    }

    &.selected {
        stroke-width: 5px;
        animation: tileSelected 2s linear infinite;
        z-index: 2;
    }

    &:hover {
        fill: rgba(255, 255, 255, 0.05);
    }

    &.adjacent {
        fill: $color-board-bgr - #111;

        &:hover {
            fill: #666;
        }
    }

    &-image {
        pointer-events: none;
        transform: translateX(-50%);
    }
}