@import "_variables.scss";

.button {
    background: none;
    border: none;
    outline: none;
    color: $color-highlight;
    background-color: $color-base;
    padding: 0.5em;
    
    &:not([disabled]) {
        cursor: pointer;

        &:hover {
            background-color: $color-highlight;
            color: $color-base;
        }
    }
}