$color-base: #372212;
$color-button: #C1B4AE;
$color-button-r: 193;
$color-button-g: 180;
$color-button-b: 174;
$color-text: #333;
$color-highlight: #ddd;

$color-main-menu-bgr: #333;
$color-board-bgr: #777;

$color-start-tile: #8a3;


$color-tile-unexplored: $color-board-bgr - #111;
$color-tile-unexplored-hover: $color-board-bgr - #222;
$color-tile-unexplored-reveal: $color-tile-unexplored + #081810;
$color-tile-unexplored-reveal-hover: $color-tile-unexplored-hover + #081810;
